<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>صفحه اصلی وب سایت</title>
</head>

<body>
    <header class="nav">

        <div class="right-menu">
            <div class="logo-holder">
                <img src="img/icon.jpg" class="logo">
            </div>

            <div class="nav-rightmenu">
                <ul>
                    <li>سامانه آموزشی</li>
                    <li>کالج</li>
                    <li>بانک سؤالات</li>
                    <li>مسابقات</li>
                    <li>مگنت (استخدام)</li>
                </ul>
            </div>
        </div>

        <div class="nav-leftmenu">
            <button class="btn btn-primary">ورود/عضویت</button>
        </div>
    </header>

    <div class="container">
        <div class="logo-container">
            <img src="img/hacker.png" class="logo-banner">
        </div>
        <h1 class="website-title">ترابایت، مرجع آموزش برنامه نویسی</h1>
    </div>

    <div class="cards-holder">
        <div class="line"></div>
        <a href="#" class="card">
            <img src="img/course/php.jpg" class="card__image">
            <div class="card__content">
                <div class="card__content__title">
                    دوره PHP از صفر تا صد
                </div>
                <div class="card__content__description">
                    توی این دوره با هم زیر و بم زبان PHP رو با هم شخم میزنیم
                </div>
            </div>
        </a>
        <a href="#" class="card">
            <img src="img/course/laravel.png" class="card__image">
            <div class="card__content">
                <div class="card__content__title">
                    دوره آموزشی Laravel
                </div>
                <div class="card__content__description">
                    توی این دوره با هم زیر و بم زبان PHP رو با هم شخم میزنیم
                </div>
            </div>
        </a>
        <a href="#" class="card">
            <img src="img/course/python.jpg" class="card__image">
            <div class="card__content">
                <div class="card__content__title">
                    دوره Python پیشرفته
                </div>
                <div class="card__content__description">
                    توی این دوره با هم زیر و بم زبان PHP رو با هم شخم میزنیم
                </div>
            </div>
        </a>
        <a href="#" class="card">
            <img src="img/course/git.png" class="card__image">
            <div class="card__content">
                <div class="card__content__title">
                    دوره آموزشی کار با گیت
                </div>
                <div class="card__content__description">
                    توی این دوره با هم زیر و بم زبان PHP رو با هم شخم میزنیم
                </div>
            </div>
        </a>
        <a href="#" class="card">
            <img src="img/course/php.jpg" class="card__image">
            <div class="card__content">
                <div class="card__content__title">
                    دوره PHP از صفر تا صد
                </div>
                <div class="card__content__description">
                    توی این دوره با هم زیر و بم زبان PHP رو با هم شخم میزنیم
                </div>
            </div>
        </a>
        <a href="#" class="card">
            <img src="img/course/laravel.png" class="card__image">
            <div class="card__content">
                <div class="card__content__title">
                    دوره آموزشی Laravel
                </div>
                <div class="card__content__description">
                    توی این دوره با هم زیر و بم زبان PHP رو با هم شخم میزنیم
                </div>
            </div>
        </a>
        <a href="#" class="card">
            <img src="img/course/python.jpg" class="card__image">
            <div class="card__content">
                <div class="card__content__title">
                    دوره Python پیشرفته
                </div>
                <div class="card__content__description">
                    توی این دوره با هم زیر و بم زبان PHP رو با هم شخم میزنیم
                </div>
            </div>
        </a>
        <a href="#" class="card">
            <img src="img/course/git.png" class="card__image">
            <div class="card__content">
                <div class="card__content__title">
                    دوره آموزشی کار با گیت
                </div>
                <div class="card__content__description">
                    توی این دوره با هم زیر و بم زبان PHP رو با هم شخم میزنیم
                </div>
            </div>
        </a>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="ft-logo">
                <a href="/">
                    <img width="85" style="border-radius: 50%;" src="img/icon.jpg" alt="Terabite" data-src="img/icon.jpg">
                </a>
            </div>
            <div class="ft-links">
                <div class="group">

                    <div class="column">
                        <div class="col-header">محصولات</div>
                        <div class="links">
                            <a href="/college/" class="item">آموزش برنامه&zwnj;نویسی</a>
                            <a href="/magnet/jobs" class="item">آگهی&zwnj;های استخدام</a>
                            <a href="/problemset/contest" class="item">
                                سؤالات برنامه&zwnj;نویسی
                            </a>
                            <a href="/contest/" class="item">مسابقات</a>
                            <a href="/course/" class="item">کلاس&zwnj;ها</a>
                            <a href="/employer/intro" class="item">پلتفرم استخدامی</a>
                        </div>
                    </div>


                    <div class="column">
                        <div class="col-header">منابع</div>
                        <div class="links">
                            <a target="_blank" rel="noopener" href="https://quera.org/blog/developers/" class="item">
                                کوئرا بلاگ (جدید)
                            </a>
                            <a rel="noopener" href="/magnet/calculator" class="item">
                                ماشین&zwnj;حساب حقوق برنامه&zwnj;نویسان
                            </a>
                            <a target="_blank" rel="noopener" href="https://quera.org/programming-stats/" class="item">
                                آمار&zwnj;های دنیای برنامه&zwnj;نویسی
                            </a>
                            <a href="https://quera.org/newsletter/new-member/" class="item">عضویت در خبرنامه</a>
                        </div>
                    </div>

                </div>
                <div class="group">

                    <div class="column">
                        <div class="col-header">رویداد&zwnj;ها</div>
                        <div class="links">
                            <a href="https://codecup.ir/" class="item">کدکاپ</a>
                            <a href="/talent/fair" class="item">نمایشگاه کارآموزشو</a>
                            <a href="/school/" class="item">هکاتون کدآپ</a>

                            <a href="/traceway/" class="item">تریس&zwnj;وی</a>
                        </div>
                    </div>


                    <div class="column">
                        <div class="col-header">با کوئرا</div>
                        <div class="links">
                            <a href="/join" class="item">همکاری با ما</a>
                            <a href="/contact" class="item">تماس با ما</a>
                            <a href="/about" class="item">درباره ما</a>
                            <a href="/terms" class="item">قوانین و مقررات</a>
                            <a href="https://talent.quera.org/employer/intro/contest" class="item">حمایت از
                                مسابقات</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</body>

</html>